 <!--
============================================
; Title: Pinson-Assignment 2.5
; Author: James Pinson
; Date: June 6th 2021
; Description: Using Routing and Data Binding with Angular.
;============================================
-->

<div class="contact-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
        </div>
      </div>

      <!--This sets up the column for the address.-->
      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">123 Music Lane</li>
            <li class="list-group-item border-0">Paris, France 91092</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
          </div>
        </div>

        <!--This sets up the column for the phone number. -->
        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Phone Number: 777-891-0932</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
