<!--This sets up my column which holds the card for my 404 page. -->
<div fxLayout="column">

  <!--This is the card which holds the 404 image as well as the return home button. -->
  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 25%;" class="mat-elevation=z0">
    <mat-card-title>
      <img src="./assets/not-found-image.png" />
    </mat-card-title>
    <br />

    <!--This is the button for the user to return home. -->
    <mat-card-content style ="text-align: center; padding-left: 30%;">
      <button mat-raised-button  color="primary" routerLink="/">Return Home</button>
    </mat-card-content>
  </mat-card>
</div>
