 <!--
============================================
; Title: Pinson-Assignment 2.5
; Author: James Pinson
; Date: June 6th 2021
; Description: Using Routing and Data Binding with Angular.
;============================================
-->

<!--This creates the div for my component header. -->
<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Composer</h3>
    </div>
  </div>

  <hr />

<!--This creates a row with the image and a column with the about paragraph. -->
  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/Debussy-square-300x300.jpg" />
      <figcaption>Claude Debussy Painting. (2018). Interlude . https://interlude.hk/claude-achille-debussy/. </figcaption>
    </div>
    <div class="col-sm-9">
      <p>
        Claude Debussy was born on August 22, 1862 and died March 25, 1918.
        He was a famous french composer who developed a highly original system of harmony and musical structure.
        His major works include Clair de lune, prelude a lapres-midi dun faune, pelleas et Melisande.
        His main musical influences were Richard Wagner and Aleksandr Borodin.
        His work was a seminal force in the music of the 20th century.
      </p>
    </div>
  </div>
</div>
