<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <!--This is the title for our address card. -->
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />

      <!--Here we create a card that contains the address information. -->
      <mat-card-content class="align-center">
        <p>
          681 Elm St.
        </p>
        <p>
          Chattanooga, TN
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <!--This is the title for our phone information. -->
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <!--Here we include our contact information. -->
      <mat-card-content class="align-center">
        <p>
          Direct: 888-888-8888
        </p>
        <p>
          Toll-free: 1-888-888-8888
        </p>
        <p>
          Fax: 888-888-8888
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />
<!--Here we include a friendly message to the users. -->
<div fxLayout="colum">
  <p style="text-align: center">
    Visit us online or at any of our locations.
  </p>
</div>
