 <!--
============================================
; Title: Pinson-Assignment 1.5.html
; Author: James Pinson
; Date: May 30th 2021
; Description: Creating our first application using Angular.
;============================================
-->

<!--This creates our unordered list for our my-details component.-->
<ul class="list-group">
  <li class="list-group-item">Name: Jimmy Pinson</li>
  <li class="list-group-item">Favorite Food: Ice Cream</li>
  <li class="list-group-item">Favorite Color: Blue</li>
</ul>
