<div fxLayout="row wrap">

  <dix fxFlex>

    <!-- Here we create the column which contains the photo of the author. -->
    <div fxLayout="column">
      <div>
        <img src="./assets/Carl-Hiaasen.jpg" />
      </div>

      <div>
        <em>
          Photo by Joe Rimkus Jr. on <a class="attribution-link" href="http://www.carlhiaasen.com/index.shtml"
            target="_blank">Carl Hiaasen</a>
        </em>
      </div>
    </div>
  </dix>

  <!-- Here we create a column which contains a title and information about the author. -->
  <div fxFlex>
    <h1 class="blue">Hiaasen Gives a Hoot</h1>

    <p>
      Carl Hiaasen is the Author of one of my favorite childhood books Hoot. He was born and raised in Florida, where he
      still resides to this day. He graduated at the age of 23, from the University of Florida where he went on to work
      for the Miami Herald. He began writing novels in the early 1980’s with his friend and fellow journalist William D.
      Montalbano. Some of his works include Powder Burn, Trap Line, Tourist Season, Star Island, Bad Monkey, and Hoot.
      Hoot won a Newbery Honor and was later made into a feature film.
    </p>

    <em>
      Biography by: <a href="http://www.carlhiaasen.com/bio.shtml" target="_blank" class="attribution-link">Carl
        Hiaasen</a>
    </em>
  </div>
</div>
