<!--This creates the form for our wishlist. -->
<form fxLayout="column" class="wishlist-create-form">

  <!--This is the title field for our form. -->
  <mat-form-field fxFlex appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" name="title" matInput [(ngModel)]="item.title" />
  </mat-form-field>

  <!--This is the authors field for our form. -->
  <mat-form-field fxFlex appearance="fill">
    <mat-label>Authors</mat-label>
    <input type="text" name="authors" matInput [(ngModel)]="item.authors" />
  </mat-form-field>

  <!--This is our add item button with an onclick event. -->
  <button mat-button color="primary" (click)="addItem()">Add Item</button>
</form>
